body {
    background-color: #f8f9fa;
    font-family: "Open Sans";


}

/*TABLAS*/
.contenido {
    height: 100vh;
}

.modal-content {}


#abrirModal {
    background-color: #000;
    color: #FFF;
    border: 2px solid rgb(65, 65, 65);
    border-radius: 0px;
    padding: 10px 20px;
    display: inline-block;
    font-size: 20px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #ffffff;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

#abrirModal:hover {
    box-shadow: inset 0 0 0 50px #ffffff;
    color: black;
}

#cabecerasTabla {
    font-size: large;
    text-align: center;
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 2fr 2fr 3fr 2fr;
    grid-template-rows: 70px;
    justify-content: center;
}


#opcionesAdmin {
    margin-top: 100px;
}

#gestionPRO {
    display: grid;
    row-gap: 20px;
}


.filaProducto {
    width: 100%;
    border: 2px gray solid;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.filaProducto:hover {
    transform: scale(1.1);
    background-color: #eaeaea;
    /* Ajusta el valor para acercar más o menos los elementos */

}

#gestionPRO div {

    text-align: center;
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 2fr 2fr 3fr 2fr;
    grid-template-rows: 70px;
    justify-content: center;
}

#gestionPRO button {
    background-color: #474747;
    color: #fff;
}

#gestionPRO div div {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: start;
    padding: 10px;
}

/*MODAL EDITAR PRODUCTO */
#editarProductoModal {}

.container {
    margin-top: 20px;
}

.opcion {
    background-color: #ffffff;
    border: 2px solid #dee2e6;
    /* Cambiar el grosor y el color del borde */
    padding: 20px;
    /* Ajustar el relleno */
    margin-bottom: 30px;
    /* Mantener el margen inferior */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    /* Agregar una sombra suave */
    border-radius: 10px;
    /* Redondear los bordes */
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    /* Añadir posición relativa */
    overflow: hidden;
    /* Ocultar el desbordamiento */
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
    /* Agregar transición */
}

.opcion:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    /* Cambiar la sombra al hacer hover */
    border-color: #acadad;
    /* Cambiar el color del borde al hacer hover */
    transform-origin: 50% 50%;
    background: linear-gradient(135deg, #ffffff, #c2c2c2);
    transition: transform 3s ease-out;
}

.opcion img {
    max-width: 100px;
    margin-bottom: 10px;
}

.opcion p {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    /* Aumentar el tamaño del texto */
}

/*MODAL*/

.modal-content {
    background-color: #fff;
    border-radius: 10px;
}

.modal-header {
    border-bottom: none;
}

.modal-title {
    color: #333;
    font-weight: bold;
}

.modal-body {
    padding: 20px;
}

.form-group label {
    font-weight: bold;
}

.custom-select {
    border-radius: 5px;
}

.input-group-append button {
    border-radius: 5px;
}

.btn-outline-secondary {
    color: #6c757d;
    border-color: #6c757d;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.input-group-append button {
    padding: 10px 20px;
}

/*MODAL*/

.mensaje-exito {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 9999;
    cursor: pointer;
}

/* BOTON CAMBIAR CONTRASEÑA*/
#tablaUsuarios td:last-child {
    /* Ajustar según sea necesario */
}

.btn-cambiar-contrasena {
    /* background-color: #afafaf; */
}

#agregarResiduo {
    border-radius: 100%;
    height: 10%;
    width: 10%;
}

#residuos {
    width: 10px;
}


.blur-background {
    filter: blur(5px);
    /* Aplica un desenfoque al fondo */
    pointer-events: none;
    /* Evita que el fondo reciba eventos de ratón */
}

/*MODAL GESTIONAR USUARIOS*/
#modalGestionarUsuarios #btnanadirUsuario {
    background-color: #007BFF;
    color: white;
}

#modalGestionarUsuarios #btncerrarUsuario {
    background-color: rgb(207, 39, 39);
    color: #ffffff;
}

#modalGestionarUsuarios .table {
    width: 100%;
    font-size: 1.2em;
}

#modalGestionarUsuarios .table th,
#modalGestionarUsuarios .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

#modalGestionarUsuarios .table th {
    border-bottom: 2px solid #dee2e6;
    background-color: #f8f9fa;
}

/* Estilo para los botones de editar */
#modalGestionarUsuarios .botonEditar {
    margin-left: 10px;
}

#modalGestionarUsuarios tbody tr {
    transition: transform 0.3s ease;
    /* Agrega una transición suave para el efecto */
    background-color: white;
    padding: 10px;
}

#modalGestionarUsuarios tbody tr:hover {
    transform: scale(1.04);
    /* Escala el tr al 110% de su tamaño original */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /* xOffset yOffset blurRadius color */

}

/*FIN MODAL GESTIONAR USUARIOS*/

/* MODAL EDITAR USUARIO*/
#modalEditar {}

#modalEditar .table {
    font-size: 3em;
}


/*MODAL EDITAR USUARIO*/
button:active {
    transform: scale(0.95);
    /* Reduce ligeramente el tamaño al hacer clic */
}

@media screen and (max-width: 600px) {

    /*GESTIONAR PRODUCTOS MODAL*/
    #gestionPRO div,
    #cabecerasTabla {

        text-align: center;
        width: 100%;
        display: grid;
        grid-template-areas:
            "item1 item2"
            "item3 item4"
            "button button";
        /* Botón en su propia fila */
        grid-template-rows: auto auto auto;
        /* Altura automática para las filas */
        grid-template-columns: auto auto;
        /* Ancho automático para las columnas */
        /* Espacio entre los elementos */
    }

    .btnEditar {
        grid-area: button;
        /* Área definida para el botón */
        width: 100%;
        background: #000;
    }

    /*FIN GESTIONAR PRODUCTOS MODAL*/
    /*GESTIONAR USUARIOS MODAL*/
    #modalGestionarUsuarios .modal-body{
        width: 100%;
        overflow-x: auto
    }
    #modalGestionarUsuarios .table {
        width: 100%;
    }

    /*FINAL GESTIONAR USUARIOS MODAL*/
}


/*MODAL DE NO SE PUEDE MODIFICAR EL PRODUCTO*/
#noSePuedeModificar .modal-content {
    background-color: rgb(209, 98, 98);
    color: white; /* Cambiar el color del texto para que sea legible en el fondo rojo */
    text-align: center;
    border-radius: 10px; /* Redondear las esquinas del modal */

}

#noSePuedeModificar .modal-header {
    border-bottom: none; /* Eliminar el borde inferior del encabezado */
}

#noSePuedeModificar .modal-footer {
    border-top: none; /* Eliminar el borde superior del pie del modal */
}

#noSePuedeModificar .modal-footer .btn-secondary {
    color: white; /* Cambiar el color del botón "Cerrar" para que sea legible en el fondo rojo */
    background-color: #6c757d; /* Color de fondo del botón "Cerrar" */
    border-color: #6c757d; /* Color del borde del botón "Cerrar" */
}
#noSePuedeModificar .modal-dialog {
    max-width: 60%; /* Ajustar el ancho máximo del modal */
    margin: 1.75rem auto; /* Centrar el modal horizontalmente y darle un poco de margen superior e inferior */
}


/*MODAL DE NO SE PUEDE MODIFICAR EL PRODUCTO FIN*/
