body {
    background-color: #f8f9fa;
    font-family: "Open Sans";


}

/**/
.contenido {
    height: 100vh;
    
}
#opcionesAdmin{
    position: absolute;
    top: 50%; /* Colocar el 50% desde la parte superior del contenedor */
    left: 50%; /* Colocar el 50% desde el lado izquierdo del contenedor */
    transform: translate(-50%, -50%);}
.container {
    margin-top: 20px;

}

.opcion {
    background-color: #ffffff;
    border: 2px solid #dee2e6;
    /* Cambiar el grosor y el color del borde */
    padding: 20px;
    /* Ajustar el relleno */
    margin-bottom: 30px;
    /* Mantener el margen inferior */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    /* Agregar una sombra suave */
    border-radius: 10px;
    /* Redondear los bordes */
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    /* Añadir posición relativa */
    overflow: hidden;
    /* Ocultar el desbordamiento */
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
    /* Agregar transición */
}

.opcion:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    /* Cambiar la sombra al hacer hover */
    border-color: #acadad;
    /* Cambiar el color del borde al hacer hover */
    transform-origin: 50% 50%;
    background: linear-gradient(135deg, #ffffff, #c2c2c2);
    transition: transform 3s ease-out;
}


.opcion img {
    max-width: 100px;
    margin-bottom: 10px;
}

.opcion p {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    /* Aumentar el tamaño del texto */
}

/*MODAL*/

.modal-content {
    background-color: #fff;
    border-radius: 10px;
}

.modal-header {
    border-bottom: none;
}

.modal-title {
    color: #333;
    font-weight: bold;
}

.modal-body {
    padding: 30px;
}

.form-group label {
    font-weight: bold;
}

.custom-select {
    border-radius: 5px;
}

.input-group-append button {
    border-radius: 5px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

.btn-outline-secondary {
    color: #6c757d;
    border-color: #6c757d;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.input-group-append button {
    padding: 10px 20px;
}

/*MODAL*/

.mensaje-exito {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 9999;
    cursor: pointer;
}

/* BOTON CAMBIAR CONTRASEÑA*/
#tablaUsuarios td:last-child {
    width: 20%;
    /* Ajustar según sea necesario */
}

.btn-cambiar-contrasena {
    /* background-color: #afafaf; */
}

#agregarResiduo {
    border-radius: 100%;
    height: 10%;
    width: 10%;
}

#residuos {
    width: 10px;
}


.blur-background {
    filter: blur(5px);
    /* Aplica un desenfoque al fondo */
    pointer-events: none;
    /* Evita que el fondo reciba eventos de ratón */
}