/*CSS PARA PEDIDOS CSS*/
body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}

.container {
  margin-top: 50px;
}

h2 {
  color: #007bff;
}

.input-group {
  margin-bottom: 20px;
}

.table {
  font-size: 1.5em;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#buscar {
  margin-left: 8px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 1.2em;
  color: #c7f8f9;
  border: 2px solid #e6e6e6;
  border-radius: 5px;
  transition: all 0.5s ease;
}

tr:hover {
  background: #eeeeee;
}

#buscar:hover {
  background: #343A40;
  color: #007bff;
  border: 2px solid #000000;
  transition: all 0.35s ease;
}

car:active {
  transform: translate(5px, 5px);
}

#carritoCompras {
  background: #00000000;
  width: 70px;
  height: 70px;
  border-radius: 7px;
  border: none;
  margin: 0px 10px;
}

#carritoCompras:hover {
  background: #fff;
  border: 2px #000000 solid;
}

#carritoCompras img {
  margin: auto;
  width: 50px;
  height: 50px;
}

.botones {
  width: 10px;
}

#divBotones {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 70px;
}

#botonMas,
#botonCheck {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

#botonMas:hover,
#botonCheck:hover {
  background: #029702;
}

#botonMas img,
#botonCheckimg {
  width: 50px;
}