/*CSS PARA PEDIDOS CSS*/

body {
  background-color: #f8f9fa;
  font-family: "Open Sans";
  overflow-x: hidden;
}

#cabeceraPedidos {
  display: grid;
  grid-template-columns: 8fr 1fr;
  width: 100vw;
  align-items: center;
}

#cabeceraPedidos #divIconoUsuario div {
  cursor: pointer;
  position: relative;
}

#cabeceraPedidos #elementosnav {}

/* desplegable usuario */
#desplegableFunciones {
  display: none;
  position: absolute;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  left: 20px;
  top: 70px;
  flex-direction: column;
  width: 200px;
}

#administrar h2 {
  color: #007bff;
}

#iconoCarrito-container {
  position: relative;
  display: inline-block;
}

#carrito-cabecera {
  position: relative;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 70px;
  align-items: center;
  justify-content: center;
}

#carrito-cabecera h2 {
  padding: 5px;
  margin: 10px;
  border-bottom: 1px #00000040 solid;
}

#contador-carrito {
  position: absolute;
  top: 5px;
  left: 15px;
  /* Ajusta según tu diseño */
  background-color: red;
  color: black;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
}

#overlay2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 999;
}

#carritoDerecha {
  position: fixed;
  top: 0;
  right: -400px;
  width: 400px;
  background-color: white;
  height: 100vh;
  z-index: 1000;
  transition: right 0.3s ease;
}

/* ELEMENTOS DEL CARRITO */

#carritoDerecha .grid-carrito {
  font-weight: 700;
  display: grid;
  grid-template-columns: 400px;
  grid-auto-rows: 150px;
  row-gap: 20px;
  height: 70vh;
  overflow: auto;
}

#carritoDerecha .grid-carrito .grid-item-carrito {
  display: grid;
  grid-template-columns: 2fr 4fr;
  border-top: 1px #00000056 solid;
  border-bottom: 1px #00000056 solid;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

#carritoDerecha .descripcion {}

#carritoDerecha .cantidades {
  display: grid;
  grid-template-columns: 4fr;
  align-items: center;
  gap: 20px;
}

.cantidades p {}

#carritoDerecha .informacion {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  text-align: start;
}

#carritoDerecha .descripcion {
  text-align: start;
}

.grid-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

#cerrarBoton {
  border: 2px #000000 solid;
}

#cerrarBoton img {
  width: 70%;
  height: 70%;
}

.input-group {
  margin-bottom: 20px;
}

.table {
  font-size: 1.5em;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

th,
td {
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 5vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card h6 {
  padding: 5%;
}

.card img {
  padding: 7%;
}

.add {
  border-radius: 0;
  width: 100%;
}

#divCantidad {
  margin: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
}

/*icono mas y menos*/
.grupoIconos {
  width: 40px;
  margin: 10px 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 20px;
  cursor: pointer;
}

.grupoIconos:hover {
  width: 50px;
  height: 50px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/*que deje 1 fr al inicio y al final de espacio*/


input[id^="cantidad"] {
  width: 120%;
  height: 80%;
  border: none;
  margin: auto;
  font-size: 1.5em;
  text-align: center;
  justify-content: center;
}

button[id^="buscar"] {
  border-radius: 0;
  width: 100%;
}

.btn-danger {
  border-radius: 0;
}

.btn-primary {
  border-radius: 0;
}

#carritoCompras {
  background: #00000000;
  width: 70px;
  height: 70px;
  border-radius: 7px;
  border: none;
  margin: 0px 10px;
}

#carritoCompras:hover {
  background: #fff;
  border: 2px #000000 solid;
}

#carritoCompras img {
  margin: auto;
  width: 50px;
  height: 50px;
}

#divBotones {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 70px;
}

/* #botonMas,
#botonCheck {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
} */

#botonMas:hover,
#botonCheck:hover {
  background: #029702;
}

.botonesAdd {
  width: 40px;
  height: 40px;
  background-image: url(../assets/botonMas.svg);
  background-size: contain;
}

#contenedor-popUpConfirmacion {
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background: #bebebe50;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

#popUpConfirmacion {
  z-index: 1000;
  border-radius: 10px;
  background: #ffffff;
  width: 600px;
  height: 450px;
  padding: 30px 50px;
  max-width: 100%;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);

}

#nuevoProducto {
  display: flex;
  flex-direction: column;

}

#contenedor-ventanaEmergente {
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background: #b3b3b364;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  top: 0;
  left: 0;
}

#popUpEmergente {
  display: grid;
  grid-template-rows: 1fr 4fr;
  width: 50vw;
  height: 30vh;
}

#popUpEmergente #popUpEmergente-descripcion {
  display: grid;
  grid-template-columns: 3fr 2fr;
  margin: 10px;
  align-items: center;
}

#popUpEmergente-contenedorimagen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#popUpEmergente-imagen {
  width: 100px;
}




#ventanaEmergente {
  z-index: 1000;
  border-radius: 10px;
  background: #fff;
  width: 9000px;
  padding: 30px 50px;
  max-width: 100%;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
}

#efectoDesaparecer {
  opacity: 1;
  transition: opacity 1s ease;
}

#desaparecidoCompletamente {
  opacity: 0;

}

#contenedorBusqueda {
  position: relative;
  width: 100%;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchInput {
  position: absolute;
  border: 2px solid #a1a1a1;
  padding: 5px 20px;
  border-radius: 20px;
  width: 400px;
  position: absolute;
  font-size: large;
  transition: border-color 1s;
  outline: none;
  /* Eliminamos el resplandor predeterminado del foco */
}

#searchInput:focus {
  border-color: rgb(61, 61, 61);
}

#iconobusqueda {
  position: relative;
  border-radius: 50%;
  background-color: rgb(137, 137, 137);
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 200px;
}

#iconobusqueda img {
  width: 70%;
}

#containerCategorias {
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
  width: 80%;
  margin: 0 auto;
  border: 1px #000 solid;
}

.cartaCategoria {
  flex: 0 0 300px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  margin-right: 20px;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
}

.flecha {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#flecha-izquierda {
  left: 10px;
}

#flecha-derecha {
  right: 10px;
}

/*MEDIA QUERYS*/