/*MOBILE FIRST LOGIN RESPONVE*/
/*variables*/
:root {
    /*CAMBIAR UN VALOR AQUI SIGNIFICA CAMBIARLO EN TODO EL DOC, POR LO QUE ES MAS COMODO*/
    --colorblanco: #ffffff; /*BLANCO FONDOS*/
    --colorverde: rgb(115, 193, 31); /*PRIMARIO USADO EN TEXTOS TAMBIEN*/
    --colorgris: #f3f2f2; /*GRIS PARA FONDOS*/
    --colorgrisoscuro: #2b2d28; /*GRIS OSCURO USADO EN FOOTERS*/
    --colorverdelima: #9cff5e;
  }
  /*resets*/
  body,
  p,
  a,
  ul,
  li {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  li {
    list-style-type: none;
  }
  /*estilos base*/
  html {
    height: 100vh;
    max-height: 100vh;
    scroll-behavior: smooth;
  }
  body {
    background: var(--colorverdelima);
    overflow-x: hidden;
    overflow-y: hidden;
    max-height: 100vh;
  }
  /*contenedor pagina login*/
  #contenedor {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    opacity: 0; /* Inicia con opacidad cero para que el contenedor esté oculto al principio */
    transition: opacity 1.3s ease-in-out; /* Configura la transición de la opacidad */
  }
  #contenedor.visible {
    opacity: 1; /* Cuando la clase visible se agrega, la opacidad se establece en 1, haciendo que el contenedor aparezca */
  }
  /*fin contenedor pagina login*/
  /*FORMULARIO*/
  #contenedor-login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
  }
  #contenedor-login {
    display: grid;
    grid-template-columns: 1fr;
    color: var(--colorgrisoscuro);
    min-height: 60vh;
    max-height: 80vh;
    min-width: 360px;
    max-width: 90vw;
    background: var(--colorblanco);
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
  }
  #formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contenedor-imagen {
    display: none;
    max-width: 100%;
    height: auto;
  }
  .contenedor-imagen .imagen {
    width: 100%;
    margin-left: 3vw;
  }
  .campos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 30px 0px;
  }
  .campos input[type="text"],
  .campos input[type="password"] {
    outline: none;
    border: none;
    border-bottom: 1px solid var(--colorverde);
  }
  .boton-login {
    font-weight: 700;
    color: var(--colorverde);
    border: 2px solid var(--colorgrisoscuro);
    padding: 8px 30px;
    border-radius: 3px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
  }
  /*ANIMACION DEL BOTON LOGIN*/
  .boton-login:hover {
    color: var(--colorblanco); /* color de fuente hover */
  }
  .boton-login::after {
    content: "";
    background: var(--colorverdelima); /* color de fondo hover */
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
    transition: all 0.35s;
  }
  .boton-login:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 0.35s;
  }
  /*FIN ANIMACION DEL BOTON LOGIN*/
  /*fonts*/
  body {
    font-size: 20px;
  }
  h1 {
    text-align: center;
    font-size: 40px;
  }
  
  /*mobile styles*/
  
  /*small tablet styles*/
  @media screen and (min-width: 620px) {
    #contenedor {
      max-width: 960px;
    }
    #contenedor-login {
      min-height: 60vh;
      max-height: 80vh;
      min-width: 550px;
      max-width: 600px;
    }
  }
  /*large tablets & laptop styles*/
  @media screen and (min-width: 960px) {
    #contenedor {
      max-width: 1200px;
    }
    #contenedor-login {
      min-height: 60vh;
      max-height: 80vh;
      min-width: 700px;
      max-width: 800px;
      display: grid;
      grid-template-columns: 4fr 6fr;
    }
    .contenedor-imagen {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }
  
  /*desktop styles*/
  @media screen and (min-width: 1200px) {
    #contenedor {
      max-width: 100%;
    }
    #contenedor-login {
      min-height: 60vh;
      max-height: 80vh;
      min-width: 55vw;
      max-width: 60vw;
    }
  }
  